@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
	display: inline-block;
	position: relative;
}

.hover-underline-animation::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fce52c;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

body {
	background-color: #167c42;
}

[type="file"]::-webkit-file-upload-button {
	background: #fce52c;
	color: #167c42;
	cursor: pointer;
	border: none;
	font-size: 12px;
	outline: none;
	padding: 10px 25px;
	text-transform: uppercase;
	transition: all 1s ease;
	@apply rounded-full;
}
