@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
	display: inline-block;
	position: relative;
}

.hover-underline-animation::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fce52c;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

body {
	background-color: #167c42;
}

[type="file"]::-webkit-file-upload-button {
	background: #fce52c;
	color: #167c42;
	cursor: pointer;
	border: none;
	font-size: 12px;
	outline: none;
	padding: 8px 16px;
	text-transform: uppercase;
	@apply rounded-full;
}

.togglenav {
	max-height: 0;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.26s ease-out;
	transition: max-height 0.26s ease-out;
	opacity: 0;

	overflow: hidden;
}

.togglenav-open {
	opacity: 1;
	max-height: 100vh;
	transform: scaleY(1);
	transform-origin: top;
	transition: opacity 0.26s ease-out;
	transition: transform 0.26s ease-out;
	transition: max-height 0.26s ease-out;
}
